<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/assets/sample.css" rel="stylesheet" />
	<script type="text/javascript" src="/assets/sample.js"></script>
	<title>{{ .Title }} - NoteIsSite Sample Content</title>
</head>

<body>

<div>
	{{ range .Roots }}
		<a href="{{ .Uri }}" >{{ if .IsAncestor }}<strong>{{ end }}{{ .Name }}{{ if .IsAncestor }}</strong>{{ end }}</a>&nbsp;&nbsp;
	{{- end }}
</div>

<div>
	<h1>NoteIsSite Sample - {{ .Title }} </h1>
</div>
<hr />

<div>
	Current Position:
	<a href="/" >HomePage</a>
	{{ range .Ancestors }}
		&gt;&gt; <a href="{{ .Uri }}" >{{ .Name }}</a>
	{{- end }}
</div>
<hr />

<div class="left">
	{{ range .Brothers }}
		<a href="{{ .Uri }}" >{{ if .IsAncestor }}<strong>{{ end }}{{ .Name }}{{ if .IsAncestor }}</strong>{{ end }}</a><br />
	{{- end }}
</div>

<div class="right content">
	{{ .Content }}
</div>

<hr />
<div class="foot">
	Powered By Streamlet Studio.
</div>

</body>

</html>
