<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/assets/sample.css" rel="stylesheet" />
	<script type="text/javascript" src="/assets/sample.js"></script>
	<title>NoteIsSite Sample</title>
</head>

<body>

<div>
	{{ range .Children }}
		<a href="{{ .Uri }}" >{{ .Name }}</a>&nbsp;&nbsp;
	{{- end }}
</div>

<div>
	<h1>NoteIsSite Sample</h1>
</div>
<hr />

{{ if .HasChildren }}
	<div class="left">
		{{ range .Children }}
			<a href="{{ .Uri }}" >{{ .Name }}</a><br />
		{{- end }}
	</div>
{{ end }}

<div  class="{{ if .HasChildren }}right{{ end }} content">
	{{ if eq .Content ""}}
		<h2>Empty:)</h2>
	{{ else }}
	{{ .Content }}
	{{ end }}
</div>

<hr />
<div class="foot">
	Powered By Streamlet Studio.
</div>

</body>

</html>
